.customStateReset:hover {
  text-decoration: none;
  /* width: 25%; */
  /* color: none; */
}

.customStateReset {
  text-decoration: none;
  width: 25%;
  /* height: 5em; */
  /* color: none; */
}
.customCardBody {
  background-color: var(--color-uno);
  color: var(--color-font);
  /* height:auto; */
}
.customGlobalCard {
  padding: 0.5em;
  /* max-width: 25%; */
}
h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.customBodyCard {
  height:  auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
