.botonFormBg {
  background-color: var(--color-fuerte);
  border: none;
}
.botonFormBg:hover {
  background-color: var(--color-fuerte);
  border: none;
}
.customFormBody {
  color: var(--color-font);
  background-color: var(--color-uno);
  border-radius: 5px;
  padding:2em;
  /* width: 100%; */
  
}
.customTitleForm{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.FormAlinearBoton{
    text-align: center;
}