/* *{background-color: aqua;} */
* {
  /* ------Paleta de colores------ */
  --color-fuerte: #e78a13;
  --color-uno: #2d93d5;
  --color-dos: #004f98;
  --color-tres: #ced9fe;
  --color-cuatro: #8e8e8e;
  /* ---------------------------------- */
}
nav {
  margin: 0;
  padding: 0.3em;
  width: 100%;
  height: 4em;
  background-color: var(--color-dos);
  display: flex;
  justify-content: space-around;
}
nav div {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav div a {
  font-size: 1.3rem;
  color: white;
}
nav div a:hover {
  color: whitesmoke;
  text-decoration: none;
}
.navContainerLinkDerecho {
  justify-content: start;
padding: 0em 0em 0em 1em;
}

.customLinkIzq {
  padding: 0.2em;
  border: var(--color-fuerte) solid 2px;
  background-color: #e78a13;
  height: 90%;
  border-radius: 10px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 800px) {
  /* ----------------------nav------------------------ */
  nav {
    height: auto;
    display: flex;
    align-items: center;
    padding: 0.5em;
  }
  nav div {
    width: 50%;
    height: 100%;
  }
  nav div a {
    font-size: 1.2rem;
    color: white;
  }
  .navContainerLinkDerecho {
    padding: 0 0 0 1em;
  }
}
