h1 {
  text-align: center;
  font-size: 3rem;
}
h2 {text-align: start;
  font-size: 2.3rem;
}
h3 {
  text-align: start;
  font-size: 2rem;
}
h4 {
  text-align: start;
  font-size: 1.5rem;
}
p {
  text-align: justify;
  font-size: 1rem;
}

.GlobalGeneral {
  /* display: flex; */
  /* justify-content: flex-start; */
}
.ColumnaIzq {
  width: 70%;
  display: inline-block;
padding: 8em 10em 0em;
}
.imgPrincipalColIzq{
  width: 100%;
}
.columnaDer {
  display: inline-block;
  width: 30%;
  position: fixed;
  padding: 8em 1em;
}

@media (min-width: 0px) and (max-width: 800px) {
  .columnaDer {
    display: none;
  }
.ColumnaIzq{

  width: 100%;
  padding: 4em 1em 1em 1.5em;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

p {
  text-align: justify;
  font-size: .905rem;
}
h2, h3 , h4{
  text-align: start;
}
}
