* {
  /* ------Paleta de colores------ */
  --color-fuerte: #e78a13;
  --color-uno: #2d93d5;
  --color-dos: #004f98;
  --color-tres: #ced9fe;
  --color-cuatro: #eeeeee!important;
  --color-cinco: #2982bd ;
  --color-font: white;
  --color-siete: ;
  --color-cuatro: ;
  /* ---------------------------------- */
margin: 0;
padding: 0;

}

body{
  background-color: var(--color-cuatro)!important;
}

